<div class="card">
  <div class="card__body">
    <%# //トレーニングの目的 %>
    <%= link_to training.title, training_path(training.id), class: :card__title%>
      <%# //ユーザー名 %>
    <%= link_to "by #{training.user.name}", training_path(training.id), class: :card__user %>
  </div>
</div>