<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting"> 
        <%= link_to "#{current_user.name}さん", user_path(current_user), class: :greeting__link %>
        がログイン中
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: "training", collection: @trainings %>
    </div>
    <div class="timer">
      <%= link_to "タイマー機能", page_path('about') %>
    </div>
  </div>
</main>