<div class="time">
  <h1 id="timer"></h1>
  <div class="timer_count">
    <button id="startbutton">start</button>
    <button id="stopbutton">stop</button>
    <button id="resetbutton">reset</button>
  </div>
</div>